/* this is a css file for the index.html. It makes the enitre screen black as
one of the feature */
*{
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container{
  display: flex;
  background-color: rgb(12,12,13);
  height: 100%;
  flex-direction: column;
  align-items: center;
}

#game {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.wordle-heading{
  border-bottom: 1px solid rgb(58,58,60);
  background: rgb(12,12,13);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}


.title {
  color: ghostboro;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.4rem 0 0.4rem 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  flex-grow: 1; /* Allows "Wordle" to take up available space and be centered */
  position: absolute;
  left: 47%;
}

