<style>
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      scroll-behavior: smooth; /* Add smooth scrolling behavior */
      background-color: burlywood;
    }
    
    header {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 102%;
      padding: 40px 0;
      background-color: burlywood;
      margin-top: -8px;
      margin-left: -7.8px;
    }
    
    header h2 {
      margin: 0;
      font-size: 20px; /* Decreased font size */
      color: #0cf6f6f6; /* Font color changed to white */
      font-family: fantasy;
      font-style: italic;
    }

    .resume-image-container {
      display: flex; /* Ensures the images are displayed in a row */
      align-items: center; /* Aligns the images vertically */
      justify-content: center; /* Centers the images horizontally */
      margin-bottom: 20px; /* Adds some spacing between the images and the overlay */
    }

    .myPIC-image {
      width: 20%; /* Adjust the width to occupy half of the screen */
      height: 100%;
      display: block; /* Ensures the image is treated as a block element */
      margin-right: -310px; /* Adds spacing between the images */
      margin-top: -296px;/* Adjust the margin-top value to move the image vertically */
    }

    .resume-image {
      width: 71%; /* Adjust the width to occupy half of the screen */
      height: 100%;
      display: block; /* Ensures the image is treated as a block element */
      margin-left: -200px; /* Removes the default margin */
      margin-right: 10px; /* Adds spacing between the images */
      max-height: 200vh; /* Set the maximum height of the image to 80% of the viewport height */
    }

    .resume-overlay {
      position: absolute; /* Positions the overlay relative to the image */
      bottom: 50px; /* Positions the overlay at the bottom */
      left: 30%; /* Positions the overlay horizontally in the middle */
      transform: translateX(-50%); /* Centers the overlay horizontally */
      text-align: left;
      color: #f6f6f6f6;
      font-size: 20px;
    }

    .resume-overlay h1,
    .resume-overlay h2,
    .resume-overlay h3 {
      margin: 0;
    }

    .resume-overlay h1 {
      font-size: 100px; /* Decreased font size */
    }

    .resume-overlay h2 {
      font-size: 10px; /* Increased font size */
    }

    .contact-info{
        margin-bottom: -380px;/* Adjust the margin-top value to move the image vertically */
        margin-left: 60px;
        background-color: burlywood;
        color: #f6f6f6f6;
    }
  </style>